<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <!-- navigation setup -->
    <div class="container d-flex flex-row justify-content-center align-items-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Nav -->
            <div class="container">
                <a class="navbar-brand" href="#">Navigation</a>
                <!-- links -->
                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item p-2 .flex-fill">
                        <a class="nav-link" href="../home.html">Home</a>
                    </li>
                    <li class="nav-item p-2 .flex-fill">
                        <a class="nav-link" href="../addUser.html">Add User</a>
                    </li>
                    <li class="nav-item p-2 .flex-fill">
                        <a class="nav-link active" href="./view">Show All Users</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    
    <!-- display -->
    <main class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1>USERS</h1>
                <ul>
                    <!-- for loop for each user (to do: wrap in div, set name center, set height/width, set color) -->
                    <li th:each="user:${userlist}">
                        <!-- set width + height for each user -->
                        <div>
                            <!-- set name and color -->
                            <span th:style="'color:'+${user.hairColor}" th:text="${user.name}"></span> <br>
                            <span th:text="${user.GPA}"></span> <br>
                            <!-- switch case -->
                            <a role="button" class="btn btn-outline-danger" th:href="@{'./delete/'+${user.uid}}">
                                delete
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </main>

</body>

</html>